.container {
    & h1 {
        font-size: 48px;
    }

    & h2 {
        font-size: 36px;
    }

    & h3 {
        font-size: 28px;
    }

    & h4 {
        font-size: 24px;
    }

    & h5 {
        font-size: 20px;
    }

    & h6 {
        font-size: 18px;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        font-weight: 700;
    }

    & ul, 
    & ol {
        padding-left: 20px;
    }

    & ul li {
        list-style-type: disc;
    }

    & ul ul li {
        list-style-type: circle;
    }

    & ul ul ul li {
        list-style-type: square;
    }

    & ol li {
        list-style-type: decimal;
    }

    & code {
        background-color:lightgrey;
        border-radius: 2px;
        padding: 2px;
        font-family: Consolas;
    }

    & pre {
        color: ghostwhite;
        background-color: dimgrey;
        padding: 10px;
        border-radius: 4px;
        overflow-x: auto;

        & code {
            background-color: transparent;
            padding: 0;
        }
    }

    & blockquote {
        background-color: ghostwhite;
        margin: 10px 0;
        padding: 4px 0 4px 8px;
        border-left: 8px solid aliceblue;
    }
}